*{
    box-sizing: border-box;
}

.wrapper{
    display:grid;
    height:calc(100vh - 67px);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 50px;
    grid-template-areas: "sidebar main-area"
                          "sidebar footer"
}

.left-sidebar{
    grid-area: sidebar;
}

/*main*/
.main-section{
    grid-area: main-area;
    margin: auto;
    margin-top:20px;
    display:grid;
    grid-template-rows: 60px 2fr 1fr;
    grid-template-columns: 700px;    
    grid-template-areas: "player"
                         "mat"
                         "btns";
}

/*Footer area*/
.footer-area {
    grid-area: footer;
    color: white;
    text-align: center;
    bottom: 0;
    width:100%; 
}
.footer-area >p {
    margin-left:21%;
}

#control-area{
    grid-area: player;
}

.mat-area{
    grid-area: mat;
    background: white !important;
}

.button-area{
    grid-area: btns;
    text-align: center;
}

/*ctrl section*/
.ctrl{
    margin-top:13px;
}
/*player buttons*/
.ctrl button{
    margin-left:20px;
    padding:5px;
    border:none;
}

.ctrl button:nth-child(1) i{
    width: 12px !important;
    height: 12px !important;
}

/*play button */
.ctrl button:nth-child(1){
    border-radius: 50%;
    width:32px;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    color:white !important;
}
#play-pause-button>i,#stop-button>i{
    overflow: visible !important;

}
/*Stop button*/
#stop-button{
    overflow: visible !important;
    border-radius: 50%;
    width:32px;
    background-color:tomato;
    color:white ;
}

/*Download button black*/
#download-button {
    border:none;
    color:white;
    background: none;
    margin-left:18px
}

#download-button > i{
    border:none;
    color:white;
    font-size:20px;
    background: none;
}

#download-beat {
    margin-left:20px;
    border:none;
    font-size:20px;
}

.ctrl button:focus{
    outline: none !important;
    box-shadow: none !important;
}

/*Tempo*/
#tempo-text{
    color:white;
    padding-left:20px;
    padding-right: 12px;
}

/*Slider*/
.my-slider {
-webkit-appearance: none;
width: 42%;
background:white;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity 1s;
}

.my-slider:hover {
opacity: 1;
}

.my-slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 15px;
background-color:#40e0d0;
cursor: pointer;
}

.my-slider::-moz-range-thumb {
width: 25px;
height: 25px;
background-color:#40e0d0;
cursor: pointer;
}


/*Row labels*/
#note-text{
    text-align: right;
    margin: 0;
    padding: 0;
    line-height:50px; 
}

/*Delete Button*/
.delete-button{
    background-color:#f44235 !important;
    border:none;
    padding:10px;
    font-size:20px;
    margin-top:20px !important;
    margin-left:15px;
}
/*Delete button hover*/
.delete-button:hover{
    box-shadow: 2px 2px 2px 2px rgb(185, 141, 150) !important
}

/*new button*/
#new-button{
    width:100%;
    background:none;
    border:none;
    color:white;
    padding:5px;
    border-bottom: 5px solid white;
}

#new-button:focus{
    outline:none;
}

#new-button:hover{
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}

/*MODAL*/
#add-button{
    border: none;
    padding:10px;
    font-size:20px;
    margin-top:20px !important;
    background-color:#81d742;
    color:white;
}

#add-button:hover{
    box-shadow: 2px 2px 2px 2px rgb(164, 212, 212) !important
}
.modal-backdrop
{
    opacity:0.4 !important;
}
button.close{
    background-color:red !important;
    color: white !important
}
.modal-title{
    line-height:1 !important;
}

/*li-item*/
.li-item{
    cursor: pointer;
    padding:5px;
    list-style: none;
    /* text-align: center; */
    color:white;
    background-color: none;
    border-bottom:2px solid white;
}
.li-item:hover{
    background-color:white !important;
    color:#40e0d0 !important;
}

/*Toggle Switch*/
.onoffswitch {
    position: relative; width: 95px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #140B0B; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Public";
    padding-left: 7px;
    background-color: #00ACEE; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Private";
    padding-right: 7px;
    background-color: #EEEEEE; color: #573C3C;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 61px;
    border: 2px solid #140B0B; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
