@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu|Aldrich&display=swap');

* {
    font-family: 'Roboto Mono', sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}


.navbar{
    padding-top:0;
    padding-bottom: 0;
    background-color: none !important;
}

.navbar a{
    font-family: 'Ubuntu', sans-serif; 
    color: white !important;
}

.navbar-toggler {
    border-color: grey !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.brandName {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Aldrich', sans-serif;
    font-size: 38px !important;
    vertical-align: middle !important;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.navList a{
    vertical-align: middle !important;
}

ul.navList a:hover { 
    color: #11fbef !important; 
    font-size: 1.2rem;
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    max-width: 100%;
}
