@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Lobster|Poppins&display=swap');

/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #232222;
}

#navbar {
    height: 10vh;
    width: 100%;
    background: #0f0e0e;
}

.brandName {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navList {
    padding-left: 1.2rem;
}

.navList li {
    font-size: 1rem;
    line-height: 2rem;
}

#navBox {
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbarSupportedContent-7 {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#content-wrapper {
    margin-top: 10vh;
}

footer{
    background: #0f0e0e;
        position: fixed;
        bottom: 0;
        width: 100%;
}
ul.navList a:hover { 
    color: #11fbef !important; 
    font-size: 1.2rem;
}