.mainContainer {
  height: calc(100vh - 50px - 57px);
}

.box2 {
  width: 65%;
  height: 100%;
  color: white;
  margin-left: 12%;
  font-size: 1rem;
}

.box1 h1 {
  color: white;
  float: left;
  font-size: 2em;
  border-bottom: 2px solid white;
  margin-bottom: 1em;
  padding: 0.5em 0 0.5em 0em;
}

.textbox {
  width: 100%;
  font-size: 0.7em;
  overflow: hidden;
  padding: 0.8em 0.1em;
  border-bottom: 2px solid white;
}

.textbox i {
  width: 2em;
  text-align: center;
}

.textbox label {
  font-size: 1.5em;
  color: white;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1em;
  width: 80%;
  float: left;
  margin: 0.2em;
}

@media (min-width: 320px) and (max-width: 575px) {
  .box2 {
    width: 65%;
    height: 100%;
    color: white;
    margin-left: 12%;
    font-size: 0.5rem;
  }

  .box1 h1 {
    color: white;
    float: left;
    font-size: 1.5em;
    border-bottom: 0.2em solid #4caf50;
    margin-top: 2em;
    margin-bottom: 0.3em;
    margin-left: 2em;
    padding: 0.5em 0 0.5em 0em;
  }

  .textbox {
    width: 100%;
    font-size: 1em;
    overflow: hidden;
    padding: 0.8em 0.1em;
    border-bottom: 0.2em solid #4caf50;
  }

  .textbox i {
    width: 2em;
    text-align: center;
  }

  .textbox label {
    font-size: 1.5em;
    color: white;
  }

  .textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.5em;
    width: 80%;
    float: left;
    margin: 0.2em;
  }

  #uploadlabel {
    font-size: 1em;
  }

  #avatarCol {
    height: 50vh;
  }
}
